body {
  margin: 0 25px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
  width: 100%;
}

#container div {
  height: 150px;
}

.row {
  display: inline-flex;
  justify-content: space-between;
}

.left, .right, .footer {
  border: 3px solid black;
}

.left {
  background-color: #ef9a9a;
  width: 24%;
}

.right {
  background-color: #bbdefb;
  width: 70%;
}

.footer {
  background-color: #fff59d;
}
